entrypoint = "README.md"
modules = ["nix", "nodejs-22"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 35757
externalPort = 3003

[[ports]]
localPort = 36111
externalPort = 3000

[[ports]]
localPort = 37437
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"
waitForPort = 3001

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_API_URL=https://b1865478-a86b-4782-b71f-4430cfe93716-00-2erq59hpuqbxy.janeway.replit.dev:3001 EXPO_METRO_PORT=5000 npx expo start --web --port 5000"
waitForPort = 5000

[agent]
expertMode = true

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "npm run server & EXPO_PUBLIC_API_URL=https://$REPL_SLUG.$REPL_OWNER.repl.co EXPO_METRO_PORT=5000 npx expo start --web --port 5000"]
build = ["npm", "install"]
